.config
.local
.Rproj.user
.Rhistory
.RData
.Ruserdata
data/ignore
data/anon/temp*
data/confidential
confidential-config.R
.env
processing
.bash_history
*_config.json
.env-*
.boxr*
.python_history
.lesshst
.vscode
issues.json
